.select-custom {
    min-width: 140px !important;
    flex-grow: 1;
}

.filter-bar {
    &__btn {
        // height: 1.875rem;

        &--primary {
            background-color: #6317DB !important;
        }
    }
}